<div class="container mt-5">
  <div class="row mb-5">
    <a href="/todos/new" class="btn btn-outline-info mb-3 btn-lg">Create</a>
  </div>
  <div class="row">
    <ul class="list-group">
      {{#each todos}}
      <li class="list-group-item">
        <div class="row">
          <div class="col-auto mr-auto d-flex flex-row align-items-center">
            <input class="px-4" type="checkbox" name="done" style="zoom:190%" {{#if this.done }} checked{{/if}} />
            <h3 class="ml-5 mb-0">{{{this.name}}}</h3>
          </div>
          <div class="col-auto">
            <a href="/todos/{{{this.id}}}" class="btn btn-secondary btn-lg">detail</a>
            <a href="/todos/{{{this.id}}}/edit" class="btn btn-success btn-lg mx-5">edit</a>
            <form action="/todos/{{{this.id}}}/delete?_method=DELETE" method="post" style="display:inline">
              <button type="submit" class="btn btn-danger btn-lg">delete</button>
            </form>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>