<form action="/todos" method="POST">
  <div class="container mt-5">
    <div class="row">
      <div class="input-group mb-3">
        <input type="text" placeholder="name" name="name" class="form-control">
        <div class="input-group-append">
          <button type="submit" class="btn btn-outline-info btn-lg">Create</button>
        </div>
      </div>
    </div>
  </div>
</form>